  {{#each posts as |post|}}
    <div class="dish col-md-5">
      <p>
       {{post.id}}. {{post.post_title}}!
      </p>
            <p>
       {{post.post_body}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
       (post author column) {{post.post_author}}
      </p>
    </div>
  {{/each}}