
<div class="post-card">
  <div class="post-card-header">
    {{post_title}}
  </div>
  <div class="card-body">
    <p>
      {{post_body}}
    </p>
    <p>
      {{post_author}}
    </p>

  </div>
</div>